* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
h1 {
  margin: 32px 0;
  color: #ffff;
  font-size: 24px;
}
.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}
.todo-input::placeholder {
  color: #e2e2e2;
}
.todo-btn {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}
.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 4px auto;
    width: 375px;
    background: transparent;
    color: #fff;
    background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%);
}
  .check-box {
    margin-right:  10px;
  }
  .delete-btn {
    background-color: transparent; 
    border: none; 
    color: #fff; 
    cursor: pointer; 
    transition: color  0.3s
  }
  .delete-btn:hover {
    color: #3e3b43; 
  }
  .todo-text {
    text-decoration: none;
    transition: text-decoration  0.3s ease;
  }
  
  
  .todo-text.completed {
    text-decoration: line-through;
  }